<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bloqueado</title>
  </head>
  <style>
    body {
      margin: 0px;
    }
    .header {
      background-color: #f1f1f1;
    }
    .header img {
      padding: 5px 0px 5px 15px;
      height: 50px;
      width: 120px;
      margin: 0 auto; /* Centra la imagen horizontalmente */
      margin-bottom: 1px; /* Añade espacio inferior a la imagen */
    }
    /* Style the header links */
    .header a {
      float: left;
      color: black;
      padding: 12px;
      line-height: 36px;
    }
    /* Change the background color on mouse-over */
    .header a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Float the link section to the right */
    .header-right {
      float: right;
    }

    /* Agrega este bloque de estilos al final de tu estilo actual */

    /* Estilo para el párrafo junto a la imagen */
    .header img,
    .header p {
      display: inline-block; /* Hace que los elementos sean en línea */
      vertical-align: middle; /* Alinea verticalmente los elementos */
    }

    .header p {
      margin-bottom: 0; /* Elimina el espacio inferior del párrafo */
      padding: 12px;
    }
  </style>
  <body>
    <div class="header">
      <img
        src="https://th.bing.com/th/id/R.4f33e1da57a8d943a856eecc2bd344c0?rik=qcNwex%2fQDE8d9g&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fbus-png-old-bus-png-image-40039-1744.png&ehk=eEZ8rXvcNjVUN6B98qUF%2fs6N5umMIhN6DUr8UcHX%2bIE%3d&risl=&pid=ImgRaw&r=0"
        alt="Imagen de perfil"
      />
      <div class="header-right">
        <a class="singOut">Cerrar sesion</a>
      </div>
      <div class="header-right"></div>
      <p>Bienvenido usuario: Albert</p>
    </div>
    <h1>Bloqueado</h1>
  </body>
</html>
