<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" type="text/css" href="prueba.css">

</head>
<body>
    <header class="cabezera">
        <nav class="cabezera__elementos">
            <h1 class="Elemento_Titulo">Pago Electronico - Administrador</h1>
        </nav>
            <button Id="btn__desconectar" class="btn__desconectar">Cerrar sesion</button>
    </header>
</body>
</html>