<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>LogIn</title>
    <link href="EstilosEncabezado.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="images/Monedero.png" alt="Logo de la página" />
      </div>
      <h1>BIENVENIDOS</h1>
    </header>
    <br />
    <div class="contenedor">
      <div class="formulario">
        <form>
          <h1 style="text-align: center; color: #1d5f75">Iniciar sesión</h1>
          <p style="text-align: center">
            Para ingresar al sistema utilice las credenciales de acceso de su
            cuenta
          </p>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="su@correo.com"
            required
          /><br /><br />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          /><br /><br />
          <input type="submit" value="Ingresar" />
        </form>
        <br /><button onclick="window.location.href='CrearUsuario.html'">
          Registrarse
        </button>
        <br />
      </div>
    </div>
  </body>
</html>
